/* Center the card */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* The card */
.login-card {
  width: 450px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Title */
.login-title {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
}

/* Form layout */
.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
}

/* Inputs */
.login-form input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 16px;
}

/* Forgot password link */
.forgot-password {
  text-align: center;
  cursor: pointer;
  color: #4a55ff;
  margin-bottom: 10px;
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #4a55ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #3945d9;
}
